p{
  font-family: 'Open Sans', sans-serif;
  font-size: 1.8em;

}
h2{
  font-family: 'Cantarell', sans-serif;
  color: #57a013;
  font-size: 2.8em;
}
h1{
  font-family: 'Josefin Slab', serif;
}
#nav_style{
  font-family: 'Poiret One', cursive;
}
#main_enter_btn{
  position:fixed;
  top: 50%;
  left: 50%;
  width:30em;
  height:18em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  font-size: 1.5em;
  font-family: 'Fascinate Inline', cursive;
}
#vid{
  display: block;
  margin-left: auto;
  margin-right: auto;

}
#icon{
  width: 15em;
  height: 15em;
  float: right;
  margin: 1em 2em 2em 2em;
}
#we_img{
  width: 32%;
  float: right;
  margin: 1em 2em 2em 2em;
}

/**
google fonts

  font-family: 'Fascinate Inline', cursive;

  font-family: 'Poiret One', cursive;

  font-family: 'Cantarell', sans-serif;

  font-family: 'Josefin Slab', serif;

  font-family: 'Bangers', cursive;

  font-family: 'Hammersmith One', sans-serif;

  font-family: 'Saira Extra Condensed', sans-serif;

  font-family: 'Open Sans', sans-serif;

**/
